<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.air_maint_pro">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_plane"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_plane"
        android:supportsRtl="true"
        android:theme="@style/Theme.AirMaintPro"
        tools:targetApi="31">

        <!-- Activité de Login -->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Activité Admin -->
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:theme="@style/Theme.AirMaintPro" />

        <activity
            android:name=".gestion_vols.AddEditEquipageActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".gestion_vols.AddEditEquipeActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".gestion_vols.DetailEquipeActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity
            android:name=".gestion_vols.AssignerVolActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".gestion_vols.AssignerEquipeActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <!-- Activité Création Technicien -->
        <activity
            android:name=".TechnicienActivity"
            android:exported="false"
            android:theme="@style/Theme.AirMaintPro"
            android:label="Créer Technicien" />
        <activity
            android:name=".gestion_vols.AddEditVolActivity"
            android:exported="false"
            android:theme="@style/Theme.AirMaintPro"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- AJOUTER CETTE ACTIVITÉ -->
        <activity
            android:name=".TechnicienHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AirMaintPro"
            android:label="Espace Technicien" />
        <activity
            android:name=".EditTechnicienActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".gestion_avion.AddAvionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".gestion_avion.AvionDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".gestion_avion.EditAvionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".gestion_avion.QrCodeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".gestion_avion.QRScannerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".gestion_avion.AvionInterventionsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".gestion_avion.AssignAvionTechnicienActivity"
            android:label="Assigner un technicien"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />


    </application>


</manifest>