<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.air_maint_pro">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AirMaintPro"
        tools:targetApi="31">

        <!-- Activité de Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AirMaintPro.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activité Admin -->
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:theme="@style/Theme.AirMaintPro" />

        <!-- Activité Création Technicien -->
        <activity
            android:name=".TechnicienActivity"
            android:exported="false"
            android:theme="@style/Theme.AirMaintPro"
            android:label="Créer Technicien" />

        <!-- AJOUTER CETTE ACTIVITÉ -->
        <activity
            android:name=".TechnicienHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AirMaintPro"
            android:label="Espace Technicien" />

    </application>

</manifest>